*.db
*.db-shm
*.db-wal
*.docx
*.pdf
*.ini
*.log
*.tex
*.orig
*.pyc
*.enl
*.Rcheck/
.DS_Store
._.DS_Store
freeze/
.git/
many_analysts.Data/
.gitattributes
.here
.httr-oauth
.owncloudsync.log
.Rhistory
.Rproj.user
.sublime-workspace
.=.swp
.=.swo
hend,]
Icon
